footer
	ul
		li
			a(href="/")
				img(src="/assets/img/logo.svg")
			p Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.
			span.copy All rights reserved.

		li
			span.header Landings
			ul
				li
					a(href="#") Home
				li
					a(href="#") Products
				li
					a(href="#") Services
		li
			span.header Company
			ul
				li
					a(href="#") Home
				li.flag
					a(href="#") Careers
					span Hiring
				li
					a(href="#") Services
