footer
	ul
		li.copy
			a(href="/")
				img(src="/assets/img/logo.svg")
			p Social media validation business model canvas graphical user interface launch party creative facebook iPad twitter.
			span.copy All rights reserved.

		li
			span.header Landings
			ul
				li
					a(href="#") Home
				li
					a(href="#") Products
				li
					a(href="#") Services
		li
			span.header Company
			ul
				li
					a(href="#") Home
				li.flag
					a(href="#") Careers
					span Hiring
				li
					a(href="#") Services
		li
			span.header Resources
			ul
				li
					a(href="#") Home
				li
					a(href="#") Products
				li
					a(href="#") Services			

.mobile-menu(style="opacity: 0")
	ul
		li.parent.open
			span Landings
			ul
				li
					a(href="#") Home
				li
					a(href="#") Products
				li
					a(href="#") Services
		li.parent
			span Company
			ul
				li
					a(href="#") Home
				li
					a(href="#") Careers
				li
					a(href="#") Services
		li.parent
			span Resources
			ul
				li
					a(href="#") Blog
				li
					a(href="#") Products
				li
					a(href="#") Services
