header
	a.logo(href="/")
		img(src="/assets/img/logo.svg")
	nav
		ul
			li
				a(href="#") Product
			li
				a(href="#") Services
			li
				a(href="#") About
	button.login Login
	#nav-icon2(style="display: none")
		span
		span
		span
		span
		span
		span