.header
	span Blog
	h1 Thoughts and words
.last-post
	img.hero(src="/assets/img/01.png" alt="nature")
	.dsc
		.category
			a(href="#") Category
			span.date November 22, 2021
		a.title(href="#") Pitch termsheet backing validation focus release.
		.author
			img(src="/assets/img/authors/01.jpg" alt="Chandler Bing")
			a(href="#") Chandler Bing
.latest-news
	h2 Latest news
	ul
		li
			img(src="/assets/img/news/01.jpg" alt="news")
			.category
				a(href="#") Category
				span.date November 22, 2021
			a.title(href="#") Pitch termsheet backing validation focus release.
			.author
				img(src="/assets/img/authors/01.jpg")
				a(href="#") Chandler Bing
		li
			img(src="/assets/img/news/02.jpg" alt="news")
			.category
				a(href="#") Category
				span.date November 22, 2021
			a.title(href="#") Seed round direct mailing non-disclosure agreement graphical user interface rockstar.
			.author
				img(src="/assets/img/authors/01.jpg")
				a(href="#") Rachel Green
		li
			img(src="/assets/img/news/03.jpg" alt="news")
			.category
				a(href="#") Category
				span.date November 22, 2021
			a.title(href="#") Beta prototype sales iPad gen-z marketing network effects value proposition
			.author
				img(src="/assets/img/authors/03.jpg")
				a(href="#") Chandler Bing
		li
			img(src="/assets/img/news/04.jpg" alt="news")
			.category
				a(href="#") Category
				span.date November 22, 2021
			a.title(href="#") Pitch termsheet backing validation focus release.
			.author
				img(src="/assets/img/authors/01.jpg")
				a(href="#") Chandler Bing
		li
			img(src="/assets/img/news/05.jpg" alt="news")
			.category
				a(href="#") Category
				span.date November 22, 2021
			a.title(href="#") Seed round direct mailing non-disclosure agreement graphical user interface rockstar.
			.author
				img(src="/assets/img/authors/01.jpg")
				a(href="#") Rachel Green
		li
			img(src="/assets/img/news/06.jpg" alt="news")
			.category
				a(href="#") Category
				span.date November 22, 2021
			a.title(href="#") Beta prototype sales iPad gen-z marketing network effects value proposition
			.author
				img(src="/assets/img/authors/03.jpg")
				a(href="#") Chandler Bing
	button.more Load more
.cta
	span An enterprise template to ramp up your company website
	form
		input(type="text" required placeholder="Your email address")
		input(type="submit" value="Start now")