section.levels
	.item.active
		.head
			span.star
				img(src="/assets/img/star.svg")
			span.level Level 1
		span.req Requirements

		ul.ok
			li Confirm E-mail
			li Confirm Phone Number
			li Enter personal details

		span.annual Annual turnover - up to 2.500 EUR	

	.item
		.head
				span.star
					img(src="/assets/img/star.svg")
				span.level Level 2
		span.req Requirements

		ul.circle
			li Upload Photo ID
			li Upload Utitility Bill


		span.annual Annual turnover - up to 30.000 EUR
