
$desktop: 1400px	
$contentWidth: $desktop


$black: #0A2640


html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

body
	margin: 0
	padding: 0
	font-family: 'Open Sans', sans-serif
	background-color: #dcdcdc

ul
	margin: 0
	padding: 0
	list-style: none
.indent
	text-indent: 1rem